<!-- Config file for the game -->

<config>
   <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>
  
  <audio>
    <music>
      <folder>audio/music/</folder>
      <volumemusic value="0.3"/>
    </music>
    <fx>
      <folder>audio/fx/</folder>
      <volumefx value="0.3"/>
    </fx>
  </audio>
  
  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>
  
  <player>
   <moveFx source="move.wav"/>
   <deathFx source="death.wav"/>
   <jumpFx source="jump.wav"/>
   <winFx source="win.wav"/>
   <dashFx source="dash.wav"/>
   <initialPosition x="60" y="180"/>
   <gravity value="11"/>
   <speedX value="7"/>
   <speedY value="22"/>
   <acceleration value="20"/>
   <speedBar value="0.2"/>
   <maxBarWidth value="40"/>
   <playerHeight value="50"/>
   <playerWidth value="20"/>
   <playerCentre value="10"/>
  </player>

   <scene>
     <map name="maplevel1.tmx"/>
     <map name="maplevel2.tmx"/>
   </scene>
</config>